# Jupyter Notebook
.ipynb_checkpoints
# exclude notebooks except for those at the 'Notebooks' directory
*.ipynb
!Notebooks/*.ipynb

# Byte-compiled
__pycache__/

# pyenv
.python-version

# Personal notes
notes.txt
