[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipython = "*"
pymupdf = "*"

[dev-packages]
ipdb = "*"
jupyterlab = "*"

[requires]
python_version = "3.13"
